<% mobile_nav_items = [
  { name: t(".home"), path: root_path, icon: "pie-chart", icon_custom: false, active: page_active?(root_path) },
  { name: t(".transactions"), path: transactions_path, icon: "credit-card", icon_custom: false, active: page_active?(transactions_path) },
  { name: t(".budgets"), path: budgets_path, icon: "map", icon_custom: false, active: page_active?(budgets_path) },
] %>

<% desktop_nav_items = mobile_nav_items.reject { |item| item[:mobile_only] } %>

...

<% if Current.family.trialing? && !self_hosted? %>
  <div class="px-4 py-3 space-y-4 bg-container shadow-border-xs rounded-xl">
    <div class="flex items-start justify-between">
      <div>
        <p class="text-sm font-medium text-primary"><%= t(".free_trial") %></p>
        <p class="text-sm text-secondary"><%= Current.family.days_left_in_trial %> <%= t(".days_remaining") %></p>
      </div>

      <%= render DS::Link.new(
        text: t(".upgrade"),
        href: upgrade_subscription_path,
        ) %>
    </div>
  </div>
<% end %>
